<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="池田糖化工業の中食・外食向け製品をご紹介します。1世紀の間に培った食品製造の開発力と技術力を、これから求められる中食・外食シーンへの新しい価値として皆様にご提供致します。">
  <meta name="keywords" content="池田糖化工業,池田糖化,ikedatohka,Ikedatohka Industries,中食・外食向け製品,業務用　ソース,業務用　タレ,業務用　食品,業務用　調味料,オーダーメイド">
  <meta name="format-detection" content="telephone=no">
  <title>中食・外食向け製品｜池田糖化工業株式会社</title>
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <link href="../common/img/apple-touch-icon.png" rel="apple-touch-icon" />
  <link rel="stylesheet" href="/media/中食・外食向け製品_files/style.css">
  <link rel="stylesheet" href="/media/中食・外食向け製品_files/food_service.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../common/js/jquery.min.js"></script>
  <script src="../common/js/script.js"></script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-VEZJHFEXX6"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-VEZJHFEXX6');
  </script>
</head>

<body>
<header id="header">
  <div class="logo"><a href={% url "www.ikedatohka.co.jp" %}><img src="/media/中食・外食向け製品_files/logo_pc.png" width="145" height="107" alt="池田糖化工業株式会社" class="noSP"/><img src="/media/中食・外食向け製品_files/logo_sp.png" width="334" height="44" alt="池田糖化工業株式会社" class="noPC"/></a></div>
  <div class="toggleBtn"></div>
  <div class="navWrap">
    <nav>
      <ul class="gNav">
        <li><a href={% url "製品のご案内｜池田糖化工業株式会社" %}>製品のご案内</a>
          <ul>
            <li><a href={% url "プラントdeリッチ｜池田糖化工業株式会社" %} style="text-decoration:none">プラントdeリッチ</a></li>
            <li><a href={% url "製品のご案内｜池田糖化工業株式会社" %}                style="text-decoration:none">おすすめ製品</a></li>
            <li><a href={% url "製品のご案内｜池田糖化工業株式会社" %}#primary_item01 style="text-decoration:none">調味・調理素材</a></li>
            <li><a href={% url "製品のご案内｜池田糖化工業株式会社" %}#primary_item02 style="text-decoration:none">スイート素材</a></li>
            <li><a href={% url "製品のご案内｜池田糖化工業株式会社" %}#primary_item03 style="text-decoration:none">色素・甘味料</a></li>
            <li><a href={% url "製品のご案内｜池田糖化工業株式会社" %}#primary_item04 style="text-decoration:none">機能性素材</a></li>
            <li><a href={% url "製品のご案内｜池田糖化工業株式会社" %}#primary_item05 style="text-decoration:none">化粧品素材</a></li>
            <li><a href={% url "製品のご案内｜池田糖化工業株式会社" %}#primary_item06 style="text-decoration:none">酵素</a></li>
          </ul>
        </li>
        <li><a href={% url "中食・外食向け製品" %} style="text-decoration:none">中食・外食向け製品</a>
          <ul>
            <li><a href={% url "オーダーメイドシステム｜中食・外食向け製品｜池田糖化工業株式会社" %}>オーダーメイドシステム</a></li>
            <li><a href={% url "多様な包装形態・流通温度帯｜中食・外食向け製品｜池田糖化工業株式会社"  %} style="text-decoration:none">多様な包装形態<br>・流通温度帯</a></li>
            <li><a href={% url "ごはん：主食メニュー｜中食・外食向け製品｜池田糖化工業株式会社"  %}>主食メニュー</a></li>
            <li><a href={% url "ステーキ・ハンバーグ：メインメニュー｜中食・外食向け製品｜池田糖化工業株式会社"  %}>メインメニュー</a></li>
            <li><a href={% url "スープ：サイドメニュー｜中食・外食向け製品｜池田糖化工業株式会社"  %}>サイドメニュー</a></li>
            <li><a href={% url "パン：スイーツメニュー｜中食・外食向け製品｜池田糖化工業株式会社"  %}>スイーツメニュー</a></li>
          </ul>
        </li>
        <li><a href={% url "微生物 受託培養" %}>微生物 受託培養</a></li>
        <li><a href={% url "企業情報" %}>企業情報</a>
          <ul>
            <li><a href={% url "トップメッセージ｜企業情報｜池田糖化工業株式会社" %}>トップメッセージ</a></li>
            <li><a href={% url "①食とのつながり｜企業情報｜池田糖化工業株式会社" %}>食とのつながり</a></li>
            <li><a href={% url "会社概要｜企業情報｜池田糖化工業株式会社" %}>会社概要</a></li>
            <li><a href={% url "池田糖化の歴史｜企業情報｜池田糖化工業株式会社" %}>池田糖化の歴史</a></li>
            <li><a href={% url "事業拠点｜企業情報｜池田糖化工業株式会社" %}>事業拠点（国内外すべて）</a></li>
          </ul>
        </li>
        <li><a href={% url "製造技術・設備" %}>製造技術・設備</a>
          <ul>
            <li><a href={% url "乾燥粉末化｜製造技術・設備｜池田糖化工業株式会社" %}  style="text-decoration:none">乾燥粉末化</a></li>
            <li><a href={% url "造粒｜製造技術・設備｜池田糖化工業株式会社" %} style="text-decoration:none">造粒</a></li>
            <li><a href={% url "粉体ブレンド｜製造技術・設備｜池田糖化工業株式会社" %} style="text-decoration:none">粉体ブレンド</a></li>
            <li><a href={% url "アセプティック｜製造技術・設備｜池田糖化工業株式会社" %} style="text-decoration:none">アセプティック</a></li>
            <li><a href={% url "レトルト｜製造技術・設備｜池田糖化工業株式会社" %} style="text-decoration:none">レトルト</a></li>
            <li><a href={% url "液体ブレンド｜製造技術・設備｜池田糖化工業株式会社" %} style="text-decoration:none">液体ブレンド</a></li>
            <li><a href={% url "フリーズドライ｜製造技術・設備｜池田糖化工業株式会社" %} style="text-decoration:none">フリーズドライ</a></li>
            <li><a href={% url "小袋包装｜製造技術・設備｜池田糖化工業株式会社" %} style="text-decoration:none">小袋包装</a></li>
            <li><a href={% url "バイオ関係設備｜製造技術・設備｜池田糖化工業株式会社" %} style="text-decoration:none">バイオ関連</a></li>
            <li><a href={% url "製造技術・設備" %}#anc-other style="text-decoration:none">その他設備</a></li>
          </ul>
        </li>
        <li><a href={% url "食の安全と安心" %}>食の安全と安心</a>
          <ul>
            <li><a href={% url "食の安全・品質方針｜食の安全と安心｜池田糖化工業株式会社"  %} style="text-decoration:none">食品安全・品質方針</a></li>
            <li><a href={% url "原材料の管理｜食の安全と安心｜池田糖化工業株式会社" %} style="text-decoration:none">原材料の管理</a></li>
            <li><a href={% url "フードディフェンス体制：生産工場での取り組み｜食の安全と安心｜池田糖化工業株式会社" %} style="text-decoration:none">生産工場での取り組み</a></li>
          </ul>
        </li>
        <li><a href={% url "研究開発" %} >研究開発</a>
          <ul>
            <li><a href={% url "研究領域・体制：研究開発の概要｜研究開発｜池田糖化工業株式会社" %} style="text-decoration:none">研究開発の概要</a></li>
            <li><a href={% url "美味しさ：私たちの目指すもの｜研究開発｜池田糖化工業株式会社" %} style="text-decoration:none">私たちの目指すもの</a></li>
            <li><a href={% url "玉井 秀樹：研究開発の声｜研究開発｜池田糖化工業株式会社" %} style="text-decoration:none">研究開発の声</a></li>
            <li><a href={% url "論文発表｜研究開発｜池田糖化工業株式会社" %} style="text-decoration:none">論文発表</a></li>
          </ul>
        </li>
        <li><a href={% url "採用情報" %}>採用情報</a>
          <ul>
            <li><a href="https://ikedatohka-saiyo.com/index.html" style="text-decoration:none" target="_blank">エントリーはこちらから</a></li>
            <li><a href={% url "新卒社員募集要項｜採用情報｜池田糖化工業株式会社" %} style="text-decoration:none" style="text-decoration:none">新卒社員募集要項</a></li>
            <li><a href={% url "求める人物像｜採用情報｜池田糖化工業株式会社" %} style="text-decoration:none" style="text-decoration:none" class="current">求める人物像</a></li>
            <li><a href={% url "選考プロセス｜採用情報｜池田糖化工業株式会社" %} style="text-decoration:none"style="text-decoration:none">選考プロセス</a></li>
            <li><a href={% url "説明会・選考会スケジュール｜採用情報｜池田糖化工業株式会社" %} style="text-decoration:none" style="text-decoration:none">説明会・選考会<br>スケジュール</a></li>
            <li><a href={% url "Q&A｜採用情報｜池田糖化工業株式会社" %} style="text-decoration:none" style="text-decoration:none">Q&amp;A</a></li>
            <li><a href={% url "仕事内容｜採用情報｜池田糖化工業株式会社" %} style="text-decoration:none" style="text-decoration:none">仕事内容</a></li>
            <li><a href={% url "キャリア採用募集要項｜採用情報｜池田糖化工業株式会社" %} style="text-decoration:none" style="text-decoration:none">キャリア採用募集要項</a></li>
          </ul>
        </li>
      </ul>
      <a href={% url "お問い合わせ" %}><img src="/media/common/otoiawase.png" alt="">
        <!-- <img src="/media/中食・外食向け製品_files/otoiawase.png">-->
    </nav>
    <div class="bnr-recruit"> <a href="https://ikedatohka-saiyo.com/index.html" target="_blank"><img src="/media/中食・外食向け製品_files/banner-recurit.png"></a> </div>
   
    <div class="lang">
      <ul>
        <li class="active"><a href={% url "www.ikedatohka.co.jp" %}>日本語</a></li>
        <li><a href="#" style="text-decoration:none"  onclick="js_alert()" >English</a></li>
        <script>
        function js_alert() {
            alert("英語は只今開発中です。暫くお待ちください。");
        }
        </script>    
      </ul>
    </div>
  </div>
</header>
<main id="main" class="level2">
  <article>
    <h1 class="pageTitle">中食・外食向け製品</h1>
    <img src="/media/中食・外食向け製品_files/中食・外食向け製品｜池田糖化工業株式会社.png"  alt="">
    <!--<div class="pageTitle_bg"></div>-->
    <div class="contWrap contWrap_1140">
      <h2 class="subTitle">1世紀の間に培った食品製造の開発力と技術力を、これから求められる中食・外食シーンへの新しい価値として皆様にご提供致します。
      </h2>
      <p>当社では、これまでに様々なお客様から頂くご要望に対して、主食メニューからスイーツメニューまで、幅広い食シーンに合わせた商品をご提供させて頂きました。<br>
        これまでに培ったノウハウを活かして、現在中食・外食でお困りのお客様やこれから展開を検討されているお客様に対しても、当社ならではの開発力・製造技術を活かした新しい食シーンのご提案が可能です。
      </p>
      <p>また、お客様のレシピ・イメージを具現化するオーダーメイドシステムも御座いますので、お気軽にご相談下さい。
      </p>
    </div>       
    <div class="contWrap contWrap_1140">
      <ul class="toLower_1">
        <li>
          <div class="toLower_1_img"><img src="/media/中食・外食向け製品_files/intro_01.jpg" width="230" height="160" alt=""/></div>
          <div class="toLower_1_txt">
            <p class="toLower_1_title">オーダーメイドシステム</p>
            <p>お客様の求められるイメージを、どこよりも迅速にカタチにしてお届け致します。</p>
            <a href={% url "オーダーメイドシステム｜中食・外食向け製品｜池田糖化工業株式会社" %} class="btn_more">詳しくはこちら</a>
          </div>
        </li>
        <li><div class="toLower_1_img"><img src="/media/中食・外食向け製品_files/intro_02.jpg" width="230" height="160" alt=""/></div>
          <div class="toLower_1_txt">
            <p class="toLower_1_title">多様な包装形態・流通温度帯</p>
            <p>多彩な包装形態で、常温・チルド・冷凍の幅広い温度帯での流通対応が可能です。</p>
            <a href={% url "多様な包装形態・流通温度帯｜中食・外食向け製品｜池田糖化工業株式会社" %} class="btn_more">詳しくはこちら</a>
          </div>
        </li>
      </ul>
      <h2 class="secTitle">主食メニュー</h2>
      <ul class="toLower_3">
        <a href={% url "ごはん：主食メニュー｜中食・外食向け製品｜池田糖化工業株式会社" %}>
          <img src="/media/中食・外食向け製品_files/Screen-14.png" style="display: block; margin-left: auto; margin-right: 0;">
        </a>
        <a href={% url "パスタ：主食メニュー｜中食・外食向け製品｜池田糖化工業株式会社" %}>
          <img src="/media/中食・外食向け製品_files/Screen-13.png" style="display: block; margin-left: auto; margin-right: 0;">
        </a>
      </ul>

      <h2 class="secTitle">メインメニュー</h2>
      <ul class="toLower_3">
        <a href={% url "ステーキ・ハンバーグ：メインメニュー｜中食・外食向け製品｜池田糖化工業株式会社" %}>
          <img src="/media/中食・外食向け製品_files/Screen-12.png"  style="display: block; margin-left: auto; margin-right: 0;">
        </a>
        <a href={% url "オーブン料理：メインメニュー｜中食・外食向け製品｜池田糖化工業株式会社" %}>
          <img src="/media/中食・外食向け製品_files/Screen-11.png" style="display: block; margin-left: auto; margin-right: 0;">
        </a>
        <a href={% url "中華料理：メインメニュー｜中食・外食向け製品｜池田糖化工業株式会社" %}>
          <img src="/media/中食・外食向け製品_files/Screen-10.png" style="display: block; margin-left: auto; margin-right: 0;">
        </a>
        <a href={% url "揚げ物：メインメニュー｜中食・外食向け製品｜池田糖化工業株式会社" %}">
          <img src="/media/中食・外食向け製品_files/Screen-9.png" style="display: block; margin-left: auto; margin-right: 0;">
        </a>
        <a href={% url "焼き物：メインメニュー｜中食・外食向け製品｜池田糖化工業株式会社" %}>
          <img src="/media/中食・外食向け製品_files/Screen-8.png" style="display: block; margin-left: auto; margin-right: 0;">
        </a>
        <a href={% url "煮込みのタレ：メインメニュー｜中食・外食向け製品｜池田糖化工業株式会社" %}>
          <img src="/media/中食・外食向け製品_files/Screen-7.png" style="display: block; margin-left: auto; margin-right: 0;">
        </a>
      </ul>

      <h2 class="secTitle">サイドメニュー</h2>
      <ul class="toLower_3">
        <a href={% url "スープ：サイドメニュー｜中食・外食向け製品｜池田糖化工業株式会社" %}>
          <img src="/media/中食・外食向け製品_files/Screen-6.png" style="display: block; margin-left: auto; margin-right: 0;">
        </a>
      </ul>

      <h2 class="secTitle">スイーツメニュー</h2>
      <ul class="toLower_3">
        <a href={% url "パン：スイーツメニュー｜中食・外食向け製品｜池田糖化工業株式会社" %}>
          <img src="/media/中食・外食向け製品_files/Screen-5.png"  style="display: block; margin-left: auto; margin-right: 0;">
        </a>
        <a href={% url "ケーキ：スイーツメニュー｜中食・外食向け製品｜池田糖化工業株式会社" %}">
          <img src="/media/中食・外食向け製品_files/Screen-4.png"  style="display: block; margin-left: auto; margin-right: 0;">
        </a>
        <a href={% url "ドリンク：スイーツメニュー｜中食・外食向け製品｜池田糖化工業株式会社" %}>
          <img src="/media/中食・外食向け製品_files/Screen-3.png"  style="display: block; margin-left: auto; margin-right: 0;">
        </a>
        <a href={% url "アイスクリーム：スイーツメニュー｜中食・外食向け製品｜池田糖化工業株式会社" %}>
          <img src="/media/中食・外食向け製品_files/Screen-2.png"  style="display: block; margin-left: auto; margin-right: 0;">
        </a>
        <a href={% url "パフェ：スイーツメニュー｜中食・外食向け製品｜池田糖化工業株式会社" %}>
          <div>
            <img src="/media/中食・外食向け製品_files/Screen-1.png" style="display: block; margin-left: auto; margin-right: 0;">
          </div>
        </a>
      </ul>
    </div>
    <aside class="toContact">
      <h1>中食・外食向け製品に関するお問い合わせ</h1>
        <p>製品開発・納期など、こちらからお気軽に<br class="noPC">
          お問い合わせください
        </p>
      <div>
        <div><a href={% url "お問い合わせ" %} class="">お問い合わせフォームへ</a></div>
      </div>
    </aside>
  </article>
	<p class="breadcrumb"><span><a href="/">ホーム</a></span> &gt; <span>中食・外食向け製品</span></p>
</main>
<footer id="footer">
  <div class="pageTop"><a href="javascript:void(0)"></a></div>
  <ul>
    <li><a href={% url "製品のご案内｜池田糖化工業株式会社" %}>製品のご案内</a></li>
    <li><a href={% url "中食・外食向け製品" %}>中食・外食向け製品</a></li>
    <li><a href={% url "微生物 受託培養" %}>微生物 受託培養</a></li>
    <li><a href={% url "企業情報" %}>企業情報</a></li>
    <li><a href={% url "製造技術・設備" %}">製造技術・設備</a></li>
    <li><a href={% url "食の安全と安心" %} style="text-decoration:none">食の安全と安心</a></li>
    <li><a href={% url "研究開発" %} style="text-decoration:none">研究開発</a></li>
    <li><a href={% url "採用情報" %} style="text-decoration:none">採用情報</a></li>
    <li><a href={% url "お問い合わせ" %} style="text-decoration:none">お問い合わせ</a></li>
    <li><a href={% url "サイトマップ" %} style="text-decoration:none">サイトマップ</a></li>
    <li><a href={% url "プライバシーポリシー" %} style="text-decoration:none">プライバシーポリシー</a></li>
  </ul>
  <p>Copyright(C) Ikeda tohka Industries Co.,Ltd. All Rights Reserved.</p>
</footer>
<script>
  (function() {
    var cx = '002736820885896976735:977k-vryvvq';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script></body>
</html>
