<!doctype html>
<html>
  <head>
  <meta charset="utf-8">
  <meta name="description" content="池田糖化工業の企業情報をご紹介します。トップメッセージ、食とのつながり、会社概要、歴史、事業拠点などの情報を掲載しています。">
  <meta name="keywords" content="池田糖化工業,池田糖化,ikedatohka,Ikedatohka Industries,中間原料　会社,中間原料　メーカー,カラメル製品、カラメル　会社、カラメル　メーカー">
  <meta name="format-detection" content="telephone=no">
  <title>企業情報｜池田糖化工業株式会社</title>
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <link href="../common/img/apple-touch-icon.png" rel="apple-touch-icon" />
  <link rel="stylesheet" href="/media/企業情報｜池田糖化工業株式会社_files/style.css">
  <link rel="stylesheet" href="/media/企業情報｜池田糖化工業株式会社_files/company.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/media/企業情報｜池田糖化工業株式会社_files/jquery.min.js.ダウンロード"></script>
  <script src="/media/企業情報｜池田糖化工業株式会社_files/script.js.ダウンロード"></script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-VEZJHFEXX6"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-VEZJHFEXX6');
  </script></head>

  <body>
    <header id="header">
      <div class="logo">
        <a href={% url "www.ikedatohka.co.jp" %}><img src="/media/企業情報｜池田糖化工業株式会社_files/logo_pc.png" width="145" height="107" alt="池田糖化工業株式会社" class="noSP"/>
          <img src="/media/企業情報｜池田糖化工業株式会社_files/logo_sp.png" width="334" height="44" alt="池田糖化工業株式会社" class="noPC"/>
        </a>
      </div>
      <div class="toggleBtn"></div>
      <div class="navWrap">
        <nav>
          <ul class="gNav">
            <li><a href={% url "製品のご案内｜池田糖化工業株式会社" %}>製品のご案内</a>
              <ul>
                <li><a href={% url "プラントdeリッチ｜池田糖化工業株式会社" %} style="text-decoration:none">プラントdeリッチ</a></li>
                <li><a href={% url "製品のご案内｜池田糖化工業株式会社" %}                style="text-decoration:none">おすすめ製品</a></li>
                <li><a href={% url "製品のご案内｜池田糖化工業株式会社" %}#primary_item01 style="text-decoration:none">調味・調理素材</a></li>
                <li><a href={% url "製品のご案内｜池田糖化工業株式会社" %}#primary_item02 style="text-decoration:none">スイート素材</a></li>
                <li><a href={% url "製品のご案内｜池田糖化工業株式会社" %}#primary_item03 style="text-decoration:none">色素・甘味料</a></li>
                <li><a href={% url "製品のご案内｜池田糖化工業株式会社" %}#primary_item04 style="text-decoration:none">機能性素材</a></li>
                <li><a href={% url "製品のご案内｜池田糖化工業株式会社" %}#primary_item05 style="text-decoration:none">化粧品素材</a></li>
                <li><a href={% url "製品のご案内｜池田糖化工業株式会社" %}#primary_item06 style="text-decoration:none">酵素</a></li>
              </ul>
            </li>
            <li><a href={% url "中食・外食向け製品" %}>中食・外食向け製品</a>
              <ul>
                <li><a href={% url "オーダーメイドシステム｜中食・外食向け製品｜池田糖化工業株式会社" %}>オーダーメイドシステム</a></li>
                <li><a href={% url "多様な包装形態・流通温度帯｜中食・外食向け製品｜池田糖化工業株式会社"  %} style="text-decoration:none">多様な包装形態<br>・流通温度帯</a></li>
                <li><a href={% url "ごはん：主食メニュー｜中食・外食向け製品｜池田糖化工業株式会社"  %}>主食メニュー</a></li>
                <li><a href={% url "ステーキ・ハンバーグ：メインメニュー｜中食・外食向け製品｜池田糖化工業株式会社"  %}>メインメニュー</a></li>
                <li><a href={% url "スープ：サイドメニュー｜中食・外食向け製品｜池田糖化工業株式会社"  %}>サイドメニュー</a></li>
                <li><a href={% url "パン：スイーツメニュー｜中食・外食向け製品｜池田糖化工業株式会社"  %}>スイーツメニュー</a></li>
              </ul>
            </li>
            <li><a href={% url "微生物 受託培養" %} >微生物 受託培養</a></li>
            <li><a href={% url "企業情報" %}>企業情報</a>
              <ul>
                <li><a href={% url "トップメッセージ｜企業情報｜池田糖化工業株式会社" %}>トップメッセージ</a></li>
                <li><a href={% url "①食とのつながり｜企業情報｜池田糖化工業株式会社" %}>食とのつながり</a></li>
                <li><a href={% url "会社概要｜企業情報｜池田糖化工業株式会社" %}>会社概要</a></li>
                <li><a href={% url "池田糖化の歴史｜企業情報｜池田糖化工業株式会社" %}>池田糖化の歴史</a></li>
                <li><a href={% url "事業拠点｜企業情報｜池田糖化工業株式会社" %}>事業拠点（国内外すべて）</a></li>
              </ul>
            </li>
            <li><a href={% url "製造技術・設備" %}>製造技術・設備</a>
              <ul>
                <li><a href={% url "乾燥粉末化｜製造技術・設備｜池田糖化工業株式会社" %}  style="text-decoration:none">乾燥粉末化</a></li>
                <li><a href={% url "造粒｜製造技術・設備｜池田糖化工業株式会社" %} style="text-decoration:none">造粒</a></li>
                <li><a href={% url "粉体ブレンド｜製造技術・設備｜池田糖化工業株式会社" %} style="text-decoration:none">粉体ブレンド</a></li>
                <li><a href={% url "アセプティック｜製造技術・設備｜池田糖化工業株式会社" %} style="text-decoration:none">アセプティック</a></li>
                <li><a href={% url "レトルト｜製造技術・設備｜池田糖化工業株式会社" %} style="text-decoration:none">レトルト</a></li>
                <li><a href={% url "液体ブレンド｜製造技術・設備｜池田糖化工業株式会社" %} style="text-decoration:none">液体ブレンド</a></li>
                <li><a href={% url "フリーズドライ｜製造技術・設備｜池田糖化工業株式会社" %} style="text-decoration:none">フリーズドライ</a></li>
                <li><a href={% url "小袋包装｜製造技術・設備｜池田糖化工業株式会社" %} style="text-decoration:none">小袋包装</a></li>
                <li><a href={% url "バイオ関係設備｜製造技術・設備｜池田糖化工業株式会社" %} style="text-decoration:none">バイオ関連</a></li>
                <li><a href={% url "製造技術・設備" %}#anc-other style="text-decoration:none">その他設備</a></li>
              </ul>
            </li>
            <li><a href={% url "食の安全と安心" %}>食の安全と安心</a>
              <ul>
                <li><a href={% url "食の安全・品質方針｜食の安全と安心｜池田糖化工業株式会社"  %} style="text-decoration:none">食品安全・品質方針</a></li>
                <li><a href={% url "原材料の管理｜食の安全と安心｜池田糖化工業株式会社" %} style="text-decoration:none">原材料の管理</a></li>
                <li><a href={% url "フードディフェンス体制：生産工場での取り組み｜食の安全と安心｜池田糖化工業株式会社" %} style="text-decoration:none">生産工場での取り組み</a></li>
              </ul>
            </li>
            <li><a href={% url "研究開発" %}>研究開発</a>
              <ul>
                <li><a href={% url "研究領域・体制：研究開発の概要｜研究開発｜池田糖化工業株式会社" %} style="text-decoration:none">研究開発の概要</a></li>
                <li><a href={% url "美味しさ：私たちの目指すもの｜研究開発｜池田糖化工業株式会社" %} style="text-decoration:none">私たちの目指すもの</a></li>
                <li><a href={% url "玉井 秀樹：研究開発の声｜研究開発｜池田糖化工業株式会社" %} style="text-decoration:none">研究開発の声</a></li>
                <li><a href={% url "論文発表｜研究開発｜池田糖化工業株式会社" %} style="text-decoration:none">論文発表</a></li>
              </ul>
            </li>
            <li><a href={% url "採用情報" %} >採用情報</a>
              <ul>
                <li><a href="https://ikedatohka-saiyo.com/index.html" style="text-decoration:none" target="_blank">エントリーはこちらから</a></li>
              <li><a href={% url "新卒社員募集要項｜採用情報｜池田糖化工業株式会社" %} style="text-decoration:none" style="text-decoration:none">新卒社員募集要項</a></li>
              <li><a href={% url "求める人物像｜採用情報｜池田糖化工業株式会社" %} style="text-decoration:none" style="text-decoration:none" class="current">求める人物像</a></li>
              <li><a href={% url "選考プロセス｜採用情報｜池田糖化工業株式会社" %} style="text-decoration:none"style="text-decoration:none">選考プロセス</a></li>
              <li><a href={% url "説明会・選考会スケジュール｜採用情報｜池田糖化工業株式会社" %} style="text-decoration:none" style="text-decoration:none">説明会・選考会<br>スケジュール</a></li>
              <li><a href={% url "Q&A｜採用情報｜池田糖化工業株式会社" %} style="text-decoration:none" style="text-decoration:none">Q&amp;A</a></li>
              <li><a href={% url "仕事内容｜採用情報｜池田糖化工業株式会社" %} style="text-decoration:none" style="text-decoration:none">仕事内容</a></li>
              <li><a href={% url "キャリア採用募集要項｜採用情報｜池田糖化工業株式会社" %} style="text-decoration:none" style="text-decoration:none">キャリア採用募集要項</a></li>
              </ul>
            </li>
          </ul>
          <a href={% url "お問い合わせ" %}><img src="/media/common/otoiawase.png" alt="">
        </nav>
        <div class="bnr-recruit"> <a href="https://ikedatohka-saiyo.com/index.html" target="_blank"><img src="/media/企業情報｜池田糖化工業株式会社_files/banner-recurit.png"></a> </div>
        
        <div class="lang">
          <ul>
            <li class="active"><a href={% url "www.ikedatohka.co.jp" %}>日本語</a></li>
            <li><a href="#" style="text-decoration:none"  onclick="js_alert()" >English</a></li>
            <script>
            function js_alert() {
                alert("英語は只今開発中です。暫くお待ちください。");
            }
            </script>    
          </ul>
        </div>
      </div>
    </header>
    <main id="main" class="level2">
      <article>
        <h1 class="pageTitle">企業情報</h1>
        <img src="/media/企業情報｜池田糖化工業株式会社_files/Screen企業情報.png">
        <!--<div class="pageTitle_bg"></div>-->
        <div class="contWrap contWrap_1000">
          <div class="align-center">
            <div class="readTitle"><span>食を科学して、一世紀</span></div>
          </div>
          <p>池田糖化工業は「食」の中間原料品メーカーです。<br>
            新しい加工用原料や食品素材を開発研究し、食品メーカー様の新製品開発とその素材調達を積極的にサポートしている会社です。<br>
            しかもそのスケールは国内有数。<br>
            食品業界で確かな基盤を有する、110年を超える歴史ある企業です。
          </p>
        </div>
        <div class="contWrap contWrap_1000">
          <ul class="toLower_1">
            <li>
              <div class="toLower_1_img"><img src="/media/企業情報｜池田糖化工業株式会社_files/intro_01.jpg" width="230" height="160" alt=""/></div>
              <div class="toLower_1_txt">
                <p class="toLower_1_title">トップメッセージ</p>
                <p>代表取締役より皆様への<br class="noSP">ごあいさつ</p>
                <a href={% url "トップメッセージ｜企業情報｜池田糖化工業株式会社" %} class="btn_more">詳しくはこちら</a>
              </div>
            </li>
            <li>
              <div class="toLower_1_img"><img src="/media/企業情報｜池田糖化工業株式会社_files/intro_02.jpg" width="230" height="160" alt=""/></div>
              <div class="toLower_1_txt">
                <p class="toLower_1_title">食とのつながり</p>
                <p>食卓シーンごとに、日常で使われている池田糖化の製品をご紹介します。</p>
                <a href={% url "①食とのつながり｜企業情報｜池田糖化工業株式会社" %} class="btn_more">詳しくはこちら</a>
            </li>
            <li>
              <div class="toLower_1_img"><img src="/media/企業情報｜池田糖化工業株式会社_files/intro_03.jpg" width="230" height="160" alt=""/></div>
              <div class="toLower_1_txt">
                <p class="toLower_1_title">会社概要</p>
                <p>池田糖化工業株式会社の<br class="noSP">基本情報を掲載</p>
                <a href={% url "会社概要｜企業情報｜池田糖化工業株式会社" %} class="btn_more">詳しくはこちら</a>
              </div>
            </li>
            <li>
              <div class="toLower_1_img"><img src="/media/企業情報｜池田糖化工業株式会社_files/intro_04.jpg" width="230" height="160" alt=""/></div>
              <div class="toLower_1_txt">
                <p class="toLower_1_title">池田糖化の歴史</p>
                <p>創業から現在までのあゆみをご紹介</p>
                <a href={% url "池田糖化の歴史｜企業情報｜池田糖化工業株式会社" %} class="btn_more">詳しくはこちら</a>
              </div>
            </li>
            <li>
              <div class="toLower_1_img"><img src="/media/企業情報｜池田糖化工業株式会社_files/intro_05.jpg" width="230" height="160" alt=""/></div>
              <div class="toLower_1_txt">
                <p class="toLower_1_title">事業拠点</p>
                <p>国内・海外にある事業拠点を<br class="noSP">ご紹介</p>
                <a href={% url "事業拠点｜企業情報｜池田糖化工業株式会社" %} class="btn_more">詳しくはこちら</a>
              </div>
            </li>
          </ul>
        </div>
      </article>
      <p class="breadcrumb"><span><a href={% url "www.ikedatohka.co.jp" %}>ホーム</a></span> &gt; <span>企業情報</span></p>
    </main>
    <footer id="footer">
      <div class="pageTop"><a href="javascript:void(0)"></a></div>
      <ul>
        <li><a href={% url "製品のご案内｜池田糖化工業株式会社" %}>製品のご案内</a></li>
        <li><a href={% url "中食・外食向け製品" %}>中食・外食向け製品</a></li>
        <li><a href={% url "微生物 受託培養" %}>微生物 受託培養</a></li>
        <li><a href={% url "企業情報" %}>企業情報</a></li>
        <li><a href={% url "製造技術・設備" %}>製造技術・設備</a></li>
				<li><a href={% url "食の安全と安心" %} style="text-decoration:none">食の安全と安心</a></li>
        <li><a href={% url "研究開発" %} style="text-decoration:none">研究開発</a></li>
        <li><a href={% url "採用情報" %} style="text-decoration:none">採用情報</a></li>
        <li><a href={% url "お問い合わせ" %} style="text-decoration:none">お問い合わせ</a></li>
        <li><a href={% url "サイトマップ" %} style="text-decoration:none">サイトマップ</a></li>
        <li><a href={% url "プライバシーポリシー" %} style="text-decoration:none">プライバシーポリシー</a></li>
      </ul>
      <p>Copyright(C) Ikeda tohka Industries Co.,Ltd. All Rights Reserved.</p>
    </footer>
    <script>
      (function() {
        var cx = '002736820885896976735:977k-vryvvq';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
  </body>
</html>
