<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="池田糖化工業の中食・外食向けオーダーメイドシステムをご紹介します。お客様の求められるイメージを、どこよりも迅速にカタチにしてお届け致します。">
  <meta name="keywords" content="池田糖化工業,池田糖化,ikedatohka,Ikedatohka Industries,中食・外食向け製品,業務用　ソース,業務用　タレ,業務用　食品,業務用　調味料,オーダーメイドシステム">
  <meta name="format-detection" content="telephone=no">
  <title>微生物 受託培養｜池田糖化工業株式会社</title>
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <link href="../common/img/apple-touch-icon.png" rel="apple-touch-icon" />
  <link rel="stylesheet" href="/media/微生物 受託培養_files/style(1).css">
  <link rel="stylesheet" href="/media/微生物 受託培養_files/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/media/微生物 受託培養_files/jquery.min.js.ダウンロード"></script> 
  <script src="/media/微生物 受託培養_files/script.js.ダウンロード"></script>

  <!--<script src="../common/js/jquery.min.js"></script> 
  <script src="../common/js/script.js"></script>-->

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-VEZJHFEXX6"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-VEZJHFEXX6');
  </script>
</head>
<body>
  <header id="header">
    <div class="logo"><a href={% url "www.ikedatohka.co.jp" %}><img src="/media/微生物 受託培養_files/logo_pc.png" width="145" height="107" alt="池田糖化工業株式会社" class="noSP"/><img src="/media/微生物 受託培養_files/logo_sp.png" width="334" height="44" alt="池田糖化工業株式会社" class="noPC"/></a></div>
    <div class="toggleBtn"></div>
    <div class="navWrap">
      <nav>
        <ul class="gNav">
          <li><a href={% url "製品のご案内｜池田糖化工業株式会社" %}>製品のご案内</a>
            <ul>
              <li><a href={% url "プラントdeリッチ｜池田糖化工業株式会社" %} style="text-decoration:none">プラントdeリッチ</a></li>
              <li><a href={% url "製品のご案内｜池田糖化工業株式会社" %}                style="text-decoration:none">おすすめ製品</a></li>
              <li><a href={% url "製品のご案内｜池田糖化工業株式会社" %}#primary_item01 style="text-decoration:none">調味・調理素材</a></li>
              <li><a href={% url "製品のご案内｜池田糖化工業株式会社" %}#primary_item02 style="text-decoration:none">スイート素材</a></li>
              <li><a href={% url "製品のご案内｜池田糖化工業株式会社" %}#primary_item03 style="text-decoration:none">色素・甘味料</a></li>
              <li><a href={% url "製品のご案内｜池田糖化工業株式会社" %}#primary_item04 style="text-decoration:none">機能性素材</a></li>
              <li><a href={% url "製品のご案内｜池田糖化工業株式会社" %}#primary_item05 style="text-decoration:none">化粧品素材</a></li>
              <li><a href={% url "製品のご案内｜池田糖化工業株式会社" %}#primary_item06 style="text-decoration:none">酵素</a></li>
            </ul>
          </li>
          <li><a href={% url "中食・外食向け製品" %} style="text-decoration:none">中食・外食向け製品</a>
            <ul>
              <li><a href={% url "オーダーメイドシステム｜中食・外食向け製品｜池田糖化工業株式会社" %}>オーダーメイドシステム</a></li>
              <li><a href={% url "多様な包装形態・流通温度帯｜中食・外食向け製品｜池田糖化工業株式会社"  %} style="text-decoration:none">多様な包装形態<br>・流通温度帯</a></li>
              <li><a href={% url "ごはん：主食メニュー｜中食・外食向け製品｜池田糖化工業株式会社"  %}>主食メニュー</a></li>
              <li><a href={% url "ステーキ・ハンバーグ：メインメニュー｜中食・外食向け製品｜池田糖化工業株式会社"  %}>メインメニュー</a></li>
              <li><a href={% url "スープ：サイドメニュー｜中食・外食向け製品｜池田糖化工業株式会社"  %}>サイドメニュー</a></li>
              <li><a href={% url "パン：スイーツメニュー｜中食・外食向け製品｜池田糖化工業株式会社"  %}>スイーツメニュー</a></li> 
            </ul>
          </li>
          <li><a href={% url "微生物 受託培養" %}>微生物 受託培養</a></li>
          <li><a href={% url "企業情報" %}>企業情報</a>
            <ul>
              <li><a href={% url "トップメッセージ｜企業情報｜池田糖化工業株式会社" %}>トップメッセージ</a></li>
              <li><a href={% url "①食とのつながり｜企業情報｜池田糖化工業株式会社" %}>食とのつながり</a></li>
              <li><a href={% url "会社概要｜企業情報｜池田糖化工業株式会社" %}>会社概要</a></li>
              <li><a href={% url "池田糖化の歴史｜企業情報｜池田糖化工業株式会社" %}>池田糖化の歴史</a></li>
              <li><a href={% url "事業拠点｜企業情報｜池田糖化工業株式会社" %}>事業拠点（国内外すべて）</a></li>
            </ul>
          </li>
          <li><a href={% url "製造技術・設備" %}>製造技術・設備</a>
            <ul>
              <li><a href={% url "乾燥粉末化｜製造技術・設備｜池田糖化工業株式会社" %}  style="text-decoration:none">乾燥粉末化</a></li>
              <li><a href={% url "造粒｜製造技術・設備｜池田糖化工業株式会社" %} style="text-decoration:none">造粒</a></li>
              <li><a href={% url "粉体ブレンド｜製造技術・設備｜池田糖化工業株式会社" %} style="text-decoration:none">粉体ブレンド</a></li>
              <li><a href={% url "アセプティック｜製造技術・設備｜池田糖化工業株式会社" %} style="text-decoration:none">アセプティック</a></li>
              <li><a href={% url "レトルト｜製造技術・設備｜池田糖化工業株式会社" %} style="text-decoration:none">レトルト</a></li>
              <li><a href={% url "液体ブレンド｜製造技術・設備｜池田糖化工業株式会社" %} style="text-decoration:none">液体ブレンド</a></li>
              <li><a href={% url "フリーズドライ｜製造技術・設備｜池田糖化工業株式会社" %} style="text-decoration:none">フリーズドライ</a></li>
              <li><a href={% url "小袋包装｜製造技術・設備｜池田糖化工業株式会社" %} style="text-decoration:none">小袋包装</a></li>
              <li><a href={% url "バイオ関係設備｜製造技術・設備｜池田糖化工業株式会社" %} style="text-decoration:none">バイオ関連</a></li>
              <li><a href={% url "製造技術・設備" %}#anc-other style="text-decoration:none">その他設備</a></li>
            </ul>
          </li>
          <li><a href={% url "食の安全と安心" %}>食の安全と安心</a>
            <ul>
              <li><a href={% url "食の安全・品質方針｜食の安全と安心｜池田糖化工業株式会社"  %} style="text-decoration:none">食品安全・品質方針</a></li>
              <li><a href={% url "原材料の管理｜食の安全と安心｜池田糖化工業株式会社" %} style="text-decoration:none">原材料の管理</a></li>
              <li><a href={% url "フードディフェンス体制：生産工場での取り組み｜食の安全と安心｜池田糖化工業株式会社" %} style="text-decoration:none">生産工場での取り組み</a></li>
            </ul>
            <li><a href={% url "研究開発" %} >研究開発</a>
              <ul>
                <li><a href={% url "研究領域・体制：研究開発の概要｜研究開発｜池田糖化工業株式会社" %} style="text-decoration:none">研究開発の概要</a></li>
                <li><a href={% url "美味しさ：私たちの目指すもの｜研究開発｜池田糖化工業株式会社" %} style="text-decoration:none">私たちの目指すもの</a></li>
                <li><a href={% url "玉井 秀樹：研究開発の声｜研究開発｜池田糖化工業株式会社" %} style="text-decoration:none">研究開発の声</a></li>
                <li><a href={% url "論文発表｜研究開発｜池田糖化工業株式会社" %} style="text-decoration:none">論文発表</a></li>
              </ul>
          </li>
          <li><a href={% url "採用情報" %}>採用情報</a>
            <ul>
              <li><a href="https://ikedatohka-saiyo.com/index.html" style="text-decoration:none" target="_blank">エントリーはこちらから</a></li>
              <li><a href={% url "新卒社員募集要項｜採用情報｜池田糖化工業株式会社" %} style="text-decoration:none" style="text-decoration:none">新卒社員募集要項</a></li>
              <li><a href={% url "求める人物像｜採用情報｜池田糖化工業株式会社" %} style="text-decoration:none" style="text-decoration:none" class="current">求める人物像</a></li>
              <li><a href={% url "選考プロセス｜採用情報｜池田糖化工業株式会社" %} style="text-decoration:none"style="text-decoration:none">選考プロセス</a></li>
              <li><a href={% url "説明会・選考会スケジュール｜採用情報｜池田糖化工業株式会社" %} style="text-decoration:none" style="text-decoration:none">説明会・選考会<br>スケジュール</a></li>
              <li><a href={% url "Q&A｜採用情報｜池田糖化工業株式会社" %} style="text-decoration:none" style="text-decoration:none">Q&amp;A</a></li>
              <li><a href={% url "仕事内容｜採用情報｜池田糖化工業株式会社" %} style="text-decoration:none" style="text-decoration:none">仕事内容</a></li>
              <li><a href={% url "キャリア採用募集要項｜採用情報｜池田糖化工業株式会社" %} style="text-decoration:none" style="text-decoration:none">キャリア採用募集要項</a></li>
            </ul>
          </li>
        </ul>
        <a href={% url "お問い合わせ" %}><img src="/media/common/otoiawase.png" alt="">
      </nav>
      <div class="bnr-recruit"> <a href="https://ikedatohka-saiyo.com/index.html" target="_blank"><img src="/media/微生物 受託培養_files/banner-recurit.png"></a> </div>
      
      <div class="lang">
        <ul>
          <li class="active"><a href={% url "www.ikedatohka.co.jp" %}>日本語</a></li>
          <li><a href="#" style="text-decoration:none"  onclick="js_alert()" >English</a></li>
          <script>
          function js_alert() {
              alert("英語は只今開発中です。暫くお待ちください。");
          }
          </script>    
        </ul>
      </div>
    </div>
  </header>
  <main id="main" class="culture">
    <h1 class="pageTitle">微生物 受託培養</h1>
    <div class="contWrap contWrap_1000">
      <div class="lead_col_2 flexbox">
        <div class="lead_col_2_1">
          <p class="lead_technology">食品用微生物の受託培養</p>
          <p>当社が長年培ってきたバイオ技術を食品分野に応用し、乳酸菌、ビフィズス菌や麹菌など各種食品用微生物の製造受託サービス（培養・濃縮・粉末化等）を提供しています。</p>
        </div>
        <div class="lead_col_2_2">
          <ul class="photo">
            <li>
              <figure><img src="/media/微生物 受託培養_files/culture_img01.jpg"></figure>
              <div class="caption">乳酸菌</div>
            </li>
            <li>
              <figure><img src="/media/微生物 受託培養_files/culture_img02.jpg"></figure>
              <div class="caption">ビフィズス菌</div>
            </li>
            <li>
              <figure><img src="/media/微生物 受託培養_files/culture_img03.jpg"></figure>
              <div class="caption">麹菌</div>
            </li>
          </ul>
          <p class="source">出典元：NBRC</p>
        </div>
      </div>
      <h2 class="secTitle">受託項目</h2>
      <p>お客様のご要望により、これら項目のすべてもしくは一部について、ご対応させていただきます。</p>
      <div class="col3 col_txt">
        <div>
          <p>培養<br>
            <span>様々なスケールの培養槽を使用して、乳酸菌やビフィズス菌をはじめとする各種食品用微生物を培養いたします。</span></p>
        </div>
        <div>
          <p>濃縮<br>
            <span>遠心分離装置や膜濃縮装置等を使用して、菌体や培養液の濃縮を行います。</span></p>
        </div>
        <div>
          <p>乾燥/粉末化<br>
            <span>フリーズドライやスプレードライなどの各種乾燥設備を使用して、乾燥/粉末化を行います。</span></p>
        </div>
        <div>
          <p>包装<br>
            <span>お客様のご希望する形態・入目で対応いたします。</span></p>
        </div>
        <div>
          <p>製造条件検討<br>
            <span>製造条件が確立されていないご案件でも、弊社の研究開発スタッフが検討を行い、製造条件をご提案させていただきます。</span></p>
        </div>
      </div>
      <h2 class="secTitle">受託の流れ（例）</h2>
      <p>受託は下記のような流れで進めさせていただきます。（ご案件の内容や進捗状況により、これとは異なる場合もございます。）</p>
      <div class="system_flow mb50">
        <ol>
          <li> <span>STEP<br>
            1</span>
            <dl>
              <dt>ご依頼</dt>
              <dd>乳酸菌やビフィズス菌など各種食品用微生物の受託培養や受託製造のご案件がございましたら、お問い合わせフォームよりご依頼ください。弊社担当者よりご連絡させていただきます。</dd>
            </dl>
          </li>
          <li> <span>STEP<br>
            2</span>
            <dl>
              <dt>お客様との打ち合わせ</dt>
              <dd>秘密保持契約の締結後、お客様と打ち合わせを行い、受託内容について詳細を聞き取りさせていただきます。製品形態（粉末/液体、生菌/死菌 等）や製品仕様 等について、可能な限りお客様のご希望に沿う形で供給できるように、製造プロセスを設計いたします。</dd>
            </dl>
          </li>
          <li> <span>STEP<br>
            3</span>
            <dl>
              <dt>ラボ試作/品質確認</dt>
              <dd>弊社研究開発スタッフが、ラボスケールでのトレース試作を行い、得られた試作品の品質についてご確認いただきます。 想定した品質が得られない場合には弊社から改良のご提案も行い、お客様がご納得いただけるように、最善を尽くします。</dd>
            </dl>
          </li>
          <li> <span>STEP<br>
            4</span>
            <dl>
              <dt>実機試作/品質確認</dt>
              <dd>ラボスケール試作の結果、品質に問題がないようでしたら、お客様のご希望により、実機設備を使用した試作を行います。 実機試作品の品質について、ご確認いただきます。</dd>
            </dl>
          </li>
          <li> <span>STEP<br>
            5</span>
            <dl>
              <dt>費用お見積り</dt>
              <dd>実機試作の結果、製造費用のお見積りをいたします。</dd>
            </dl>
          </li>
          <li> <span>STEP<br>
            6</span>
            <dl>
              <dt>納品</dt>
              <dd>本製造を行い、お客様のご希望される条件で納品いたします。</dd>
            </dl>
          </li>
        </ol>
      </div>
      <h2 class="secTitle">当社のアピールポイント</h2>
      <div class="col2 col2_system">
        <div>
          <h3 class="subTitle">アピールポイント１</h3>
          <h4 class="col2_system__title">一貫した生産体制で受託します</h4>
          <p class="align-left">当社ではグループ内に、スプレードライやフリーズドライ、造粒機、小袋包装などの製造設備を保有しており、これらの設備と組み合わせることで、培養以降の様々な加工まで一貫して受託することが可能です。製品の形態についてもできる限り、お客様のご希望に沿う形で提供いたします。</p>
        </div>
        <div>
          <h3 class="subTitle">アピールポイント2</h3>
          <h4 class="col2_system__title">研究開発段階の案件も受託します</h4>
          <p class="align-left">製造条件が決定していない研究開発段階の案件についても、当社の研究開発スタッフが検討を行い、製造条件を設定いたします。 <br>
            スケールアップのご依頼についてもお手伝いさせていただきます。</p>
        </div>
      </div>
      <h3 class="subTitle">当社では次のようなお客様のご要望に対応させていただきます。</h3>
      <ul class="list-style-disc mb50">
        <li>微生物の培養から乾燥、ブレンド、造粒、小袋包装まで一貫したOEM生産をしたい</li>
        <li>オリジナルの菌株を量産化したいが、自社で生産設備を保有していない</li>
        <li>オリジナルの菌株を量産化したいが、どのような条件で製造したら良いかわからない</li>
        <li>既に生産している製品について、生産性を向上させたい</li>
        <li>既に生産している製品について、BCP（事業継続計画）のため新たな生産拠点を確保したい</li>
      </ul>
      <h2 class="secTitle">バイオ関係設備</h2>
      <p>下記の設備を組み合わせて受託いたします。</p>
      <ul class="list-style-disc mb20">
        <li>培養槽（30L、200L、1kL、7.5kL、10kL）</li>
        <li>連続殺菌機 </li>
        <li>遠心分離装置 </li>
        <li>加圧濾過機 </li>
        <li>限外濾過装置 </li>
        <li>凍結乾燥装置</li>
      </ul>
      <a href={% url "バイオ関係設備｜製造技術・設備｜池田糖化工業株式会社" %} class="btn_more mb50">　詳しくはこちら</a> </div>
    <aside class="toContact">
      <h1>受託に関するお問い合わせ</h1>
      <p>乳酸菌やビフィズス菌など各種食品用微生物の受託培養や受託製造など、こちらからお気軽にお問い合わせください。</p>
      <div><a href="https://www.ikedatohka.co.jp/culture_inquiry/" class="">お問い合わせフォームへ</a></div>
    </aside>
    <p class="breadcrumb"><span><a href="/">ホーム</a></span> &gt; <span>微生物 受託培養</span></p>
  </main>
  <footer id="footer">
      <div class="pageTop"><a href="javascript:void(0)"></a></div>
      <ul>
          <li><a href={% url "製品のご案内｜池田糖化工業株式会社" %}>製品のご案内</a></li>
          <li><a href={% url "中食・外食向け製品" %}>中食・外食向け製品</a></li>
          <li><a href={% url "微生物 受託培養" %} >微生物 受託培養</a></li>
          <li><a href={% url "企業情報" %}>企業情報</a></li>
          <li><a href={% url "製造技術・設備" %}>製造技術・設備</a></li>
          <li><a href={% url "食の安全と安心" %} style="text-decoration:none">食の安全と安心</a></li>
          <li><a href={% url "研究開発" %} style="text-decoration:none">研究開発</a></li>
          <li><a href={% url "採用情報" %} style="text-decoration:none">採用情報</a></li>
          <li><a href={% url "お問い合わせ" %} style="text-decoration:none">お問い合わせ</a></li>
          <li><a href={% url "サイトマップ" %} style="text-decoration:none">サイトマップ</a></li>
          <li><a href={% url "プライバシーポリシー" %} style="text-decoration:none">プライバシーポリシー</a></li>
      </ul>
      <p>Copyright(C) Ikeda tohka Industries Co.,Ltd. All Rights Reserved.</p>
  </footer>
  <script>
    (function() {
      var cx = '002736820885896976735:977k-vryvvq';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();
  </script>
</body>
</html>
